{% extends 'halls/base.html' %}
{% block content %}
{% load static %}
<div class="row justify-content-center my-3" >
  <div class="col-3">
    <img  id = 'prof'class='img-rounded 'style='vertical-align: middle;
    height:200px;
    width:200px;
    border-radius: 50%;'src = '{% static "65313257.png" %}' >

  </div>
</div>
<h1>Hi, I am Shyam</h1>
<p id = 'abt'>I'm a Web and AI developer in love with photography, editing stuffs, programming and gaining knowledge. Check out my GitHub repositories for source codes of Django webs and Neural Networks. I'm a High School Student and I created this website using Django. I also have experiences in Photoshop, Premiere Pro, Python and HTML. Also you can stop and send a hello to my e-mail. </p>
<div class = 'container'>
<p>
    <a href="mailto:clashwithchiefrpjyt@gmail.com" class="btn btn-success my-2">Email me</a>
    </p>
</div>
{% endblock %}
