.navbar-nav .nav-link:hover{
  color:green !important;
}
.navbar-nav .nav-link{
  font-weight:400;
  color:rgba(0,0,0,0.5) !important;
}
#te:hover{
  color:green;
}
body{
  font-family: 'Galada', cursive !important;
}

.navbar-nav .nav-link:hover{
  color:green !important;
}
.navbar-nav .nav-link{
  font-weight:400;
  color:rgba(0,0,0,0.5) !important;
}
#te:hover{
  color:green;
}
